@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Montserrat:wght@100;500;600&display=swap");

$white: #fff;
$black: #000;
$off-white: #efefef;
$off-black: #212121;

$text-black: #333;

$primary: $off-black;
$rounded: $off-black;
$pill: $off-black;
